<div class="clr-row clr-justify-content-around">
  <div class="clr-col-sm-12 clr-col-lg-auto clr-col-md-auto">
    <div class="login-wrapper">

      <form clrForm class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <section class="title">
          <h3 class="welcome">Welcome</h3>
          <h5 class="hint">Use your Smartbox ID to sign in or create one now</h5>
        </section>
        <div class="login-group">

          <clr-input-container>
            <input class='clr-col-12 p-0' type="text" clrInput placeholder="Email" formControlName="email" />
            <clr-control-error *ngIf="submitted && email.errors">
              <span *ngIf="email.errors.required">Email is required!</span>
              <span *ngIf="email.errors.email">Email must be a valid email address</span>
            </clr-control-error>
          </clr-input-container>

          <clr-password-container>
            <input class='clr-col-12 p-0' type="password" clrPassword placeholder="Password"
              formControlName="password" />
            <clr-control-error *ngIf="submitted && password.errors">
              <span *ngIf="password.errors.required">Password is required!</span>
            </clr-control-error>
          </clr-password-container>

          <button [clrLoading]="submitBtnState" type="submit" class="btn btn-primary">
            login</button>

          <a routerLink='/signup' class="signup">REGISTER</a>

          <div class="error mt-1" [class.active]="loginError">
            {{loginPassError}}
          </div>
        </div>
      </form>
    </div>
  </div>
