<div class="clr-row clr-justify-content-around">
  <div class="clr-col-sm-12 clr-col-lg-auto clr-col-md-auto">
    <div class="login-wrapper">
      <form clrForm class="login" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <section class="title">
          <h3 class="welcome">Welcome</h3>
          <h5 class="hint">Create your Smartbox account</h5>
        </section>
        <div class="login-group">
          <clr-input-container>
            <input class='clr-col-12 p-0' type="text" formControlName="firstName" clrInput placeholder="First Name"
              tabindex='1' />
          </clr-input-container>
          <clr-input-container>
            <input class='clr-col-12 p-0' type="text" formControlName="lastName" clrInput placeholder="Last Name"
              tabindex='2' />
          </clr-input-container>


          <clr-input-container>
            <input class='clr-col-12 p-0' formControlName="email" type="text" clrInput placeholder="Email" tabindex='3'
              (keydown.space)="$event.preventDefault()" />
            <clr-control-error *ngIf="submitted && email.errors">
              <span *ngIf="email.errors.required">Email is required!</span>
              <span *ngIf="email.errors.pattern">Email must be a valid email address</span>

            </clr-control-error>
          </clr-input-container>
          <clr-password-container>
            <input class='clr-col-12 p-0' formControlName="password" type="password" clrPassword placeholder="Password"
              tabindex='4' (keydown.space)="$event.preventDefault()" />
            <clr-control-error *ngIf="submitted && password.errors">
              <span *ngIf="password.errors.required">Password is required!</span>
              <span *ngIf="password.errors.minlength">It must be at least 6 characters!</span>
            </clr-control-error>

          </clr-password-container>

          <clr-password-container>
            <input class='clr-col-12 p-0' formControlName="confirmPassword" type="password" clrPassword
              placeholder="Confirm password" tabindex='5' />
            <clr-control-error *ngIf="submitted && confirmPassword.errors">
              <span *ngIf="confirmPassword.errors.required">Confirm Password is required</span>
              <span *ngIf="confirmPassword.errors.mustMatch">Passwords must match!</span>
            </clr-control-error>

          </clr-password-container>
          <clr-input-container>
            <input class='clr-col-12 p-0' formControlName="age" clrInput placeholder="Age" tabindex='6' />
            <clr-control-error *ngIf="submitted && age.errors">
              <span *ngIf="age.errors.pattern">Age must be a valid</span>
            </clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <input class='clr-col-12 p-0' type="text" formControlName="country" clrInput placeholder="Country"
              tabindex='7' />
          </clr-input-container>

          <button [clrLoading]="submitBtnState" type="submit" class="btn btn-primary">
            register</button>
          <a routerLink='/login' class="signup">LOGIN</a>

          <div class="error mt-1" [class.active]="hasError">
            {{registerError}}
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
