<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink='/' class="nav-link">
        <span class="title">Smartbox</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown *ngIf='user$ | async as user'>
        <button class="nav-text" clrDropdownTrigger>
          {{user.email}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLink="/profile" clrDropdownItem>Profile</a>
          <a routerLink="/about" clrDropdownItem>
            About
          </a>
          <div class="dropdown-divider"></div>
          <a (click)='logout()' clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <router-outlet></router-outlet>

    </div>

  </div>
</div>
