<div class="clr-row clr-justify-content-around">

  <div class="clr-col-sm-auto clr-col-12">
    <div *ngIf='user && labels'>

      <div class="card">
        <div class="card-header text-center">
          <h1>{{labels.welcome | titlecase}} {{fullName}} </h1>
        </div>
        <div class="card-block">
          <div class="card-title">

            <h3>{{labels.profile | titlecase}} </h3>
          </div>
          <div class="card-text">
            <form clrForm [formGroup]="editUserForm" (ngSubmit)="onSubmit()">

              <clr-input-container>
                <label class='clr-col-12 clr-col-sm-4'>{{labels.firstName | titlecase}}</label>
                <input class='clr-col-12 clr-col-sm-8 input-ro' [class.input-disabled]='inputDisabled' clrInput
                  formControlName="firstName" [readonly]='disabled' #firstName />
              </clr-input-container>
              <clr-input-container>
                <label class='clr-col-12 clr-col-sm-4'>{{labels.lastName | titlecase}}</label>
                <input class='clr-col-12 clr-col-sm-8 input-ro' [class.input-disabled]='inputDisabled' clrInput
                  formControlName="lastName" [readonly]='disabled' />
              </clr-input-container>
              <clr-input-container>
                <label class='clr-col-12 clr-col-sm-4'>{{labels.age | titlecase}}</label>
                <input class='clr-col-12 clr-col-sm-8 input-ro' [class.input-disabled]='inputDisabled' clrInput
                  formControlName="age" [readonly]='disabled' />
                <clr-control-error *ngIf="age.errors">
                  Age must be a valid
                </clr-control-error>
              </clr-input-container>
              <clr-input-container>
                <label class='clr-col-12 clr-col-sm-4'>{{labels.country | titlecase}}</label>
                <input class='clr-col-12 clr-col-sm-8 input-ro' [class.input-disabled]='inputDisabled' clrInput
                  formControlName="country" [readonly]='disabled' />
              </clr-input-container>
            </form>

          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm " (click)='rejectEdit()' *ngIf='!disabled'>cancel</button>
          <button [clrLoading]="validateBtnState" class="btn btn-sm btn-success" *ngIf='!disabled'
            (click)='onSubmit()'>save</button>
          <button type="button" class="btn btn-sm btn-link" (click)='editForm()'
            *ngIf='disabled'>{{labels.editProfile}}</button>

        </div>
      </div>
      <div class="alert alert-success mt-1" role="alert" *ngIf='successUpdate'>
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">Profile has been updated</span>
          </div>
        </div>
      </div>

      <div class="error mt-1 active" *ngIf="editError">
        Can't update profole
      </div>
    </div>

  </div>

</div>
