@import './scss/gutters.scss';

app-login,
app-signup {
  .login-wrapper {
    background: none;
    .login {
      min-height: inherit !important;
    }
    .login:after {
      background: none;
    }
    .login .login-group .btn {
      margin-top: 1rem;
    }
    .welcome,
    .hint {
      text-align: center;
    }
  }

  @media screen and (max-width: 576px) {
    .login-wrapper .login {
      padding: 8px;
    }
  }
}

app-not-found {
  text-align: center;
  h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    padding-top: 200px;
  }
  .not-found {
  }
}

app-profile {
  .row {
    line-height: 2rem;
  }

  .clr-input {
    width: 100%;
  }
  .clr-error .clr-validate-icon {
    margin-left: -24px;
  }

  .input-ro {
    font-size: 13px;
  }

  .edit-icon clr-icon {
    height: 20px;
    width: 20px;
    vertical-align: baseline;
    cursor: pointer;
    margin-left: 8px;
  }
}

.clr-error .clr-subtext {
  position: absolute;
}

.clr-form-control {
  align-items: baseline;
}
